@model HSconnect.Models.ViewModels.SocialWorkerViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_SocialWorker.cshtml";
}

<h1>Hi @Model.SocialWorker.FirstName</h1>

<div>
    <button class="btn-info">
        <a asp-action="CreateReferral">Create New Referral</a>
    </button>
    <button class="btn-info">
        <a asp-action="DisplayMembers">View Members</a>
    </button>
</div>


