@model HSconnect.Models.ViewModels.SocialWorkerViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_SocialWorker.cshtml";
}

<h1>Hi @Model.SocialWorker.FirstName</h1>

<div class="col-4" >    
    <button type ="button" class="btn btn-outline-info">
    <a asp-action="Resources">View Available Resources</a>
    </button>
</div>
<div class="col-4">
    <button type="button" class="btn btn-outline-info">
        <a asp-action="CreateMember">Create a new Member</a>
    </button>
</div>
<div class="col-4">
    <button type="button" class="btn btn-outline-info">
        <a asp-action="DisplayMembers">View Members</a>
    </button>
</div>