@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

 <div class="container">
        @if (SignInManager.IsSignedIn(User))
        {<button onclick="openChat('@User.Identity.Name')" id="toggleChat">Open Instant Chat</button>
        <div id="chatApp"></div>
        }

 </div>