@model HSconnect.Models.ServiceOfferedViewModel

@{
    ViewData["Title"] = "CreateServiceOffered";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Service Offered</h1>

<h4>Service Offered</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateServiceOffered">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Provider.Id" />
            <span asp-validation-for="Provider.Id" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" placeholder="Service Cost" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.Id" class="control-label"></label>
                <select asp-for="Category.Id" class="form-control" asp-items="ViewBag.Categories"></select>
                <span asp-validation-for="Category.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.StreetAddress" class="control-label"></label>
                <input asp-for="Address.StreetAddress" class="form-control" />
                <span asp-validation-for="Address.StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.City" class="control-label"></label>
                <input asp-for="Address.City" class="form-control" />
                <span asp-validation-for="Address.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.County" class="control-label"></label>
                <input asp-for="Address.County" class="form-control" />
                <span asp-validation-for="Address.County" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.State" class="control-label"></label>
                <input asp-for="Address.State" class="form-control" />
                <span asp-validation-for="Address.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.ZipCode" class="control-label"></label>
                <input asp-for="Address.ZipCode" class="form-control" />
                <span asp-validation-for="Address.ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsMale" class="control-label">Gender Resctrictions</label>
                <select asp-for="IsMale" class="form-control" asp-items="ViewBag.Genders"></select>
                <span asp-validation-for="IsMale" class="text-danger"></span>
            </div>
            <div class=" form-group">
                <label asp-for="FamilySelection" class="control-label">Please select if you are family-friendly.</label>
                <select asp-for="FamilySelection" class="form-control" asp-items="ViewBag.FamilySize"></select>
                <span asp-validation-for="FamilySelection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SmokingSelection" class="control-label">Is smoking allowed at your facility?</label>
                <select asp-for="SmokingSelection" class="form-control" asp-items="ViewBag.Smoking"></select>
                <span asp-validation-for="SmokingSelection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.AgeSensitive" class="control-label">Is this for senior only facility?</label>
                <select asp-for="@Model.AgeSensitive" class="form-control" asp-items="ViewBag.AgeSensitive"></select>
                <span asp-validation-for="@Model.AgeSensitive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Select Service Offering</label>
                <select asp-for="Service.Id" class="form-control" asp-items="ViewBag.Services"></select>
                <span asp-validation-for="Service.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DisplayServices">Back to Services Offered</a>
</div>

