@model HSconnect.Models.ServiceOffered

@{
    ViewData["Title"] = "EditServiceOffered";
    Layout = "~/Views/Shared/_Layout_Provider.cshtml";
}

<h1>Edit Service Offered</h1>

<h4>Service Offered</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditServiceOffered">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ProviderId" />
            <input type="hidden" asp-for="Provider.Id" />
            <input type="hidden" asp-for="AddressId" />
            <input type="hidden" asp-for="Address.Id" />
            <input type="hidden" asp-for="DemographicId" />
            <input type="hidden" asp-for="Demographic.Id" />
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" value="@Model.Cost" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.StreetAddress" class="control-label"></label>
                <input asp-for="Address.StreetAddress" class="form-control" />
                <span asp-validation-for="Address.StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.City" class="control-label"></label>
                <input asp-for="Address.City" class="form-control" />
                <span asp-validation-for="Address.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.County" class="control-label"></label>
                <input asp-for="Address.County" class="form-control" />
                <span asp-validation-for="Address.County" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.State" class="control-label"></label>
                <input asp-for="Address.State" class="form-control" />
                <span asp-validation-for="Address.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.ZipCode" class="control-label"></label>
                <input asp-for="Address.ZipCode" class="form-control" />
                <span asp-validation-for="Address.ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Demographic.IsMale" class="control-label"></label>
                <select asp-for="Demographic.IsMale" class="form-control" asp-items="ViewBag.Genders"></select>
                <span asp-validation-for="Demographic.IsMale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Demographic.SmokingIsAllowed" class="control-label"></label>
                <select asp-for="Demographic.SmokingIsAllowed" class="form-control" asp-items="ViewBag.Smoking"></select>
                <span asp-validation-for="Demographic.SmokingIsAllowed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Demographic.FamilyFriendly" class="control-label"></label>
                <select asp-for="Demographic.FamilyFriendly" class="form-control" asp-items="ViewBag.FamilySize"></select>
                <span asp-validation-for="Demographic.FamilyFriendly" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Demographic.IsAgeSensitive" class="control-label"></label>
                <select asp-for="Demographic.IsAgeSensitive" class="form-control" asp-items="ViewBag.AgeSensitive"></select>
                <span asp-validation-for="Demographic.IsAgeSensitive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceId" class="control-label"></label>
                <select asp-for="ServiceId" class="form-control" asp-items="ViewBag.Services"></select>
                <span asp-validation-for="ServiceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DisplayServices">Return to Service Offered</a>
</div>

