@model HSconnect.Models.Provider

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Provider.cshtml";
}

<h1>Index</h1>

<p>
    @if (Model.Charts.Where(c => !c.ReferralAccepted.HasValue).ToArray().Length > 0)
    {
        <div class="col-3 text-white">
            <a class="btn-primary active btn-small btn-block" asp-action="DisplayNewReferrals" asp-route-id="@null">View New Referrals</a>
        </div>
    }
    <ul>
        <li>
            <a asp-action="SendMassMessage">Send a Mass Email</a>
        </li>
    </ul>
</p>
