@model HSconnect.Models.Provider

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="DisplayServices">Display Services Offering</a> |
    <a asp-action="DisplayPartnerships">Display Partnerships</a>
</p>
<p>
    @if (Model.Charts.Where(c => !c.ReferralAccepted.HasValue).ToArray().Length > 0)
    {
    <div class="col-3 text-white">
        <a class="btn-primary active btn-small btn-block" asp-action="DisplayReferrals">View New Referrals</a>
    </div>
    }
</p>
